<nav class="row no-gutters">
    <a href="/dashboard" class="col d-flex justify-content-center align-items-center text-center">
        <%= monthStr %> Readathon
    </a>

    <div class="col-8 d-flex">
        <!-- PROG BAR -->
        <div class="progress md-progress align-self-center w-100">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: <%= progressStats.perc %>"
                aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"><%=progressStats.completed%> out of <%=progressStats.total%> (<%=progressStats.perc%>%)</div>
        </div>
        <!-- PROG BAR END -->
    </div>
    <%if(user.admin===1 && title!="Admin"){%>
    <a class="col d-flex justify-content-center align-items-center text-center" href="/admin">
        Admin
    </a>
    <%}%>
    <a class="col d-flex justify-content-center align-items-center text-center" href="/profile">
        Profile
    </a>
    <a class="col d-flex justify-content-center align-items-center text-center" href="/logout">
        Logout
    </a>
</nav>