<!DOCTYPE html>
<html>
<%include ../partials/head_admin%>

<body>
  <div class="main-container d-flex flex-column vh-100">
    <%include ../partials/nav%>
    <div class="content-container-admin d-flex">
      <%include ../partials/admin_sidebar%>
      <!-- CONTENT AREA START -->
      <div class="content-area">
        <!-- MAIN CONTENT AREA -->
        <div class="main-content-container container flex-grow">
          <%if(locals.msg){%>
          <div class="container d-flex flex-center text-center">
            <%if(msg.success){%>
            <h1 class="alert alert-success">
              <%= msg.success %>
            </h1>
            <%}else if(msg.error){%>
            <h1 class="alert alert-danger">
              <%= msg.error %>
            </h1>
            <%}%>
          </div>
          <%}else{%>

            <section>
                <h1 class="text-center"><%=applicant.asc_id%></h1>
                <div class="mb-1">
                  <h5 class="text-ascBlue">Q1) <%=questions[0]%></h5>
                  <p class="p-1"><%=applicant.essay_1%></p>
                </div>
                <div class="mb-1">
                  <h5 class="text-alternate">Q2) <%=questions[1]%></h5>
                  <p class="p-1"><%=applicant.essay_3%></p>
                </div>
                <div class="mb-1">
                  <h5 class="text-green">Q3) <%=questions[2]%></h5>
                  <p class="p-1"><%=applicant.essay_2%></p>
                </div>
            </section>

            <section>
              <h1 class="text-center m-0 top-split">Scores</h1>
              <p class="text-center m-0">Assigned to <%=applicant.read_count%> reader(s)</p>
              <div class="d-flex">
                <%if(locals.applicantUsers){%>
                  <%for(const applicantUser of applicantUsers){%>
                    <div class="applicantUser">
                      <h3><%=applicantUser.name%></h3>
                      <div class="score">
                        <p class="text-ascBlue m-0">Q1 Score:</p>
                        <p class="m-0"><%=applicantUser.essay_score_1%></p>
                      </div>
                      <div class="score">
                        <p class="text-alternate m-0">Q2 Score:</p>
                        <p class="m-0"><%=applicantUser.essay_score_3%></p>
                      </div>
                      <div class="score">
                        <p class="text-green m-0">Q3 Score:</p>
                        <p class="m-0"><%=applicantUser.essay_score_2%></p>
                      </div>
                      <div class="score">
                        <p class="m-0 bold">Total:</p>
                        <p class="m-0"><%=applicantUser.essay_score_1+applicantUser.essay_score_2+applicantUser.essay_score_3%></p>
                      </div>
                      <div class="comment">
                        <h5 class="m-1">Comment:</h5>
                        <p class="m-0">
                          <%=applicantUser.comment%>
                        </p>  
                      </div>
                    </div>
                  <%}%>
                <%}else{%>
                <h2>{No users assigned}</h2>
                <%}%>
              </div>
            </section>

          <%}%>
        </div>
        <!-- MAIN CONTENT AREA END -->
      </div>
      <!-- CONTENT AREA end -->
    </div>
    <%include ../partials/footer%>
  </div>
</body>

</html>