<!DOCTYPE html>
<html>
<%include ../partials/head_admin%>

<body>
    <script type="text/javascript">
        window.onload = () => {
            $('#table').dataTable({
                lengthChange: false,
                paging: false
            });
            const userTable_wrapper = $("#table_wrapper");
            const userTable_filter = $("#table_filter");

            const div = $("<div />");
            div.attr("id", "table_filter_div");
            div.append(userTable_filter);
            userTable_wrapper.prepend(div);
        };
    </script>

    <div class="main-container d-flex flex-column vh-100">
        <%include ../partials/nav%>
        <div class="content-container-admin d-flex">
            <%include ../partials/admin_sidebar%>
            <!-- CONTENT AREA START -->
            <div class="content-area">
                <!-- MAIN CONTENT AREA -->
                <div class="main-content-container container flex-grow d-flex flex-center">
                    <!-- Default form contact -->
                    <%if(!readathonUser.id){%>
                    <form class="text-center border border-orange p-3 w-75" action="/admin/user" method="POST">
                        <%}else{%>
                        <form class="text-center border border-orange p-3 w-75" action="/admin/user/<%=readathonUser.id%>"
                            method="POST">
                            <%}%>

                            <p class="h4 mb-4">
                                <%=title%>
                            </p>

                            <%if(locals.msg){%>
                            <%if(msg.error){%>
                            <p class="alert alert-danger mb-3">
                                <%= msg.error %>
                            </p>
                            <%}else if (msg.success){%>
                            <p class="alert alert-success mb-3">
                                <%= msg.success %>
                            </p>
                            <%}%>
                            <%}%>
                            <!-- Name -->
                            <input type="text" name="name" class="form-control mb-4 bg-light" placeholder="Name" value="<%=readathonUser.name%>">

                            <!-- Email -->
                            <input type="email" name="email" class="form-control mb-4 bg-light" placeholder="E-mail"
                                value="<%=readathonUser.email%>">

                            <div class="d-flex mb-2">
                                <!-- Password -->
                                <input id="password" type="text" name="password" class="form-control bg-light"
                                    placeholder="Password">
                                <!-- ADD RANDOMIZER -->
                                <button type="button" id="genButton" class="rounded bg-pink form-control w-50" onclick="randPassword();">Gen.
                                    Password</button>
                            </div>
                            <%if(readathonUser.id){%>
                            <small class="form-text text-pink mb-4">
                                Cannot view user password, but can change it
                            </small>

                            <%}%>
                            <div class="d-flex justify-content-around">
                                <!-- Admin -->
                                <div class="mb-4">
                                    <input type="checkbox" name="admin" <% if ( readathonUser.admin===1) { %>checked
                                    <% } %>>
                                    <label class="pl-2" for="admin">Admin?</label>
                                </div>

                                <!-- Alumni -->
                                <div class="mb-4">
                                    <input type="checkbox" name="alumni" <% if ( readathonUser.alumni===1) { %>checked
                                    <% } %> >
                                    <label class="pl-2" for="alumni">Alumni?</label>
                                </div>
                            </div>

                            <!-- Subject -->
                            <label>Month user can access Readathon App</label>
                            <select name="month_access" class="browser-default custom-select mb-4 bg-light">
                                <option value="99" <% if ( readathonUser.month_access===null) { %>selected
                                    <% } %> >Unlimited</option>
                                <option value="9" <% if ( readathonUser.month_access===9) { %>selected
                                    <% } %> >October</option>
                                <option value="10" <% if ( readathonUser.month_access===10) { %>selected
                                    <% } %> >November</option>
                                <option value="11" <% if ( readathonUser.month_access===11) { %>selected
                                    <% } %> >December</option>
                                <option value="0" <% if ( readathonUser.month_access===0) { %>selected
                                    <% } %> >January</option>
                                <option value="1" <% if ( readathonUser.month_access===1) { %>selected
                                    <% } %> >February</option>
                                <option value="2" <% if ( readathonUser.month_access===2) { %>selected
                                    <% } %> >March</option>
                            </select>

                            <!-- Send button -->
                            <button class="btn btn-block bg-orange" type="submit">Send</button>

                        </form>
                        <!-- Default form contact -->
                </div>
                <!-- MAIN CONTENT AREA END -->
            </div>
            <!-- CONTENT AREA end -->
        </div>
        <%include ../partials/footer%>
    </div>
</body>

</html>